*{padding: 0;margin: 0;}

.whole-blog {
  text-align: center;
  height: 100%;
  width: 100%;
  align-content: center;
  align-items: center;
  position: absolute;
  background: azure;
  color: black;
}

.blog-paragraph {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blog-title {
  margin: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blog-section-1 {
  margin: 30px;
}

.blog-images {
  width: 350px;
  height: 350px;
  margin: 30px;
}

.blog-paragraph {
  margin: 30px;
}

.whole-post {
  margin: 15px;
  width: 100px;
  height: 100px;
}

.posts-list {
  margin: 30px;
  display: flex;
  flex-direction: row;
  position: absolute;
}

.home-logo {
  border-radius: 70px;
  padding: 40px;
  height: 350px;
  width: 500px;
}

.logo-name {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 90px;
}

.termux-link {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 20px;
}

.side-menu {
  background: black;
  position: absolute;
  height: 100%;
  width: 100px;
}

.home {
  align-items: center;
  align-content: stretch;
  flex-direction: row;
}