
.whole-blog {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow-y:auto;
  align-content: center;
  align-items: center;
  position: absolute;
  background: azure;
  color: black;
}

.blog-paragraph {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blog-title {
  margin: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blog-section-1 {
  margin: 30px;
}

.blog-images {
  width: 350px;
  height: 350px;
  margin: 30px;
}

.blog-paragraph {
  margin: 30px;
}

.whole-post {
  margin: 15px;
  width: 100px;
  height: 100px;
}

.posts-list {
  margin: 30px;
  display: flex;
  flex-direction: row;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
}

.home-logo {
  padding: 40px;
  height: 350px;
  width: 500px;
}

.logo-name {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 90px;
}
